<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature
    android:name="android.hardware.telephony"
    android:required="true" />

  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
<!--  <uses-permission android:name="android.permission.WRITE_EMBEDDED_SUBSCRIPTIONS" />-->
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.READ_CALL_LOG"/>
  <uses-permission android:name="android.permission.CALL_PHONE"/>

  <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:theme="@style/AppTheme"
    android:supportsRtl="true">
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize"
      android:exported="true"
      android:theme="@style/BootTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <action android:name="android.telecom.InCallService"/>
        
      </intent-filter>
    </activity>

  <service android:name="io.github.duckloveshack.metro_dialer_native.CallService"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:exported="true">
        <meta-data android:name="android.telecom.IN_CALL_SERVICE_UI" android:value="true" />
        <meta-data android:name="android.telecom.IN_CALL_SERVICE_RINGING"
            android:value="true" />
        <intent-filter>
            <action android:name="android.telecom.InCallService"/>
        </intent-filter>
  </service>
 

    <service
      android:name="io.github.duckloveshack.metro_dialer_native.ConnectService"
      android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
      android:exported="false">
      <intent-filter>
          <action android:name="android.telecom.ConnectionService"/>
      </intent-filter>
   </service>

  </application>

  <queries>
    <package android:name="web.bmdominatezz.gravy"/>
  </queries>
</manifest>